<mat-card class="card" appearance="outlined">
  <mat-card-header style="justify-content: center;">
    <div mat-card-avatar class="card-header" style="position: absolute; left: 16px;"></div>
    <mat-card-title>
      <h2 style="margin: 0; text-align: center;">{{ texts.TITLE }}</h2>
    </mat-card-title>
  </mat-card-header>

  <div class="class-content">
    <mat-card-content style="flex: 1;">
      <mat-tab-group dynamicHeight="false">
        @for (item of menuItems(); track item.route) {
          <mat-tab [label]="item.title">
            <ng-template matTabContent>
              <div class="tab-body">
                <br>
                @if (item.route === '/clients') { <app-client></app-client> }      
                @if (item.route === '/orders') { <app-order-list></app-order-list> }  
              </div>
            </ng-template>
          </mat-tab>
        }
      </mat-tab-group>
    </mat-card-content>
    
    <mat-card-footer>
      <p class="mat-small footer-copyright" style="text-align: center; padding: 16px; margin: 0; opacity: 0.6;">
        &copy; {{ texts.COPYRIGHT }}
      </p>
    </mat-card-footer>
  </div>
</mat-card>