<div class="container">
  <div class="actions-container">
    <button matButton="tonal" (click)="openDialog()">Nuevo cliente</button>
  </div>

  <h2>Lista de Clientes</h2>
  {{ clients | json }}
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Fecha Registro</th>
        <th>Modificar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      @for (client of clients(); track client.id) {
        <tr>
          <td>{{ client.name }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.registrationDate | date:'dd/MM/yyyy' }}</td>
          <td>
            <button matMiniFab color="accent" (click)="onEdit(client.id)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>
            <button matMiniFab class="btn-delete" (click)="onDelete(client)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="5">No hay clientes registrados.</td>
        </tr>
      }
    </tbody>
  </table>
</div>