<div class="container" style="min-height: 75vh;">
  <div class="actions-container">
    <button matButton="tonal" (click)="openDialog()">{{ texts.NEW }} </button>
  </div>

  <h2>{{ texts.TITLE }}</h2>
  {{ clients | json }}
  <table>
    <thead>
      <tr>
        <th>{{ texts.NAME }}</th>
        <th>{{ texts.EMAIL }}</th>
        <th>{{ texts.REGISTRATION_DATE }}</th>
        <th>{{ texts.MODIFY }}</th>
        <th>{{ texts.ELIMINATE }}</th>
      </tr>
    </thead>
    <tbody>
      @for (client of clients(); track client.id) {
        <tr>
          <td>{{ client.name }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.registrationDate | date:'dd/MM/yyyy' }}</td>
          <td>
            <button matMiniFab color="accent" (click)="onEdit(client.id)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>
            <button matMiniFab class="btn-delete" (click)="onDelete(client)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="5">{{ texts.EMPTY }}</td>
        </tr>
      }
    </tbody>
  </table>

</div>