<div class="form-container">
  <mat-card appearance="outlined" class="custom-card">
    <mat-card-header>
      <mat-card-title>{{ texts.TITLE }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex-form">

        <mat-form-field appearance="outline">
          <mat-label>{{ texts.CLIENT }}</mat-label>
          <mat-select formControlName="clientId">
              <mat-option value="" disabled>{{ texts.SELECT }}</mat-option>
              @for (client of clients(); track client.id) {
                <mat-option [value]="client.id">{{ client.name }}</mat-option>
              }
          </mat-select>
          @if (form.get('idCliente')?.invalid && form.get('idCliente')?.touched) {
            <mat-error>{{ texts.VALIDATION_CLIENT }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ texts.TOTAL }}</mat-label>
          <input matInput type="number" formControlName="totalAmount" placeholder="0000">
            @if (form.get('total')?.invalid && form.get('total')?.touched) {
              <mat-error>{{ texts.VALIDATION_TOTAL }}</mat-error>
            }
        </mat-form-field>

        <div class="actions-container">
          <button mat-stroked-button type="button" (click)="onCancel()">
            {{ texts.CANCEL }}
          </button>
          <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
            {{ isEditMode() ? texts.UPDATE : texts.CREATE }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

</div>