/* Centra el formulario en pantalla */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

/* Estilo de la tarjeta */
.custom-card {
  width: 100%;
  max-width: 450px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); /* Sombra suave */
}

/* Organiza los campos uno debajo del otro */
.flex-form {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px; /* Espacio entre campos */
  margin-top: 20px;
}

mat-card-title {
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  height: 45px; /* Botón un poco más alto para mejor click */
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions-container {
  display: flex;
  gap: 12px;
  justify-content: flex-start; /* Alinea a la izquierda */
  margin-top: 8px;
}

mat-form-field {
  width: 100%;
}