<div class="form-container">
  <mat-card appearance="outlined" class="custom-card">
    <mat-card-header>
      <mat-card-title>Registro de ordenes</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex-form">

        <mat-form-field appearance="outline">
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="clientId">
              <mat-option value="" disabled>Seleccione un cliente</mat-option>
              @for (client of clients(); track client.id) {
                <mat-option [value]="client.id">{{ client.name }}</mat-option>
              }
          </mat-select>
          @if (form.get('idCliente')?.invalid && form.get('idCliente')?.touched) {
            <mat-error>El cliente es obligatorio.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Total de la Orden $</mat-label>
          <input matInput type="number" formControlName="totalAmount" placeholder="0000">
            @if (form.get('total')?.invalid && form.get('total')?.touched) {
              <mat-error>Ingrese un monto válido mayor a 0.</mat-error>
            }
        </mat-form-field>

        <div class="actions-container">
          <button mat-stroked-button type="button" (click)="onCancel()">
            Cancelar
          </button>
          <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
            {{ isEditMode() ? 'Actualizar Orden' : 'Crear Orden' }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

</div>